@page
@model GrandHotel.Pages.Clients.ReservationsModel


<h2>My Reservations</h2>
<form  class="form-horizontal col-sm-6">
    
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Room number</th>
                <th>Date </th>
                <th>Number of persons</th>
                <th>Arriving time</th>               
                <th>For Work?</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.clt.Reservation)
            {
                <tr>
                    <td>@res.NumChambre</td>
                    <td>@res.Jour.Date</td>
                    <td>@res.NbPersonnes</td>
                    <td>@res.HeureArrivee</td>
                    <td>@res.Travail</td>                                      
                </tr>
            }
        </tbody>
    </table>
</form>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

