@page
@model GrandHotel.Pages.Chambres.DetailModel
@{
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<h2>Description of the room @Model.NewChambre.Numero</h2>
<div>
    Etage: @Model.NewChambre.Etage
</div>
<div>
    Nombre de Lits: @Model.NewChambre.NbLits
</div>
<div>
    Douche: @Model.NewChambre.Douche
</div>
<div>
    Bain: @Model.NewChambre.Bain
</div>
<div>
    WC: @Model.NewChambre.Wc
</div>
<div>
    Prix Unitaire: @Model.NewChambre.Prix
</div>
<div>
    Prix Total: @Model.NewChambre.PrixTotal for @Model.NewChambre.NbNuit nights
</div>
<a asp-page="./List" class="btn btn-default">Available rooms</a>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />