@page

@model Pages.Chambres.ListModel
@{

}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.min.js"></script>
<body>
    <form method="post" asp-page="List">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Level </th>
                    <th>Bath</th>
                    <th>Shower</th>
                    <th>Number of beds</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chambre in Model.Chambres)
                {
                    <tr>
                        <td>@chambre.Numero</td>
                        <td>@chambre.Etage</td>
                        <td>@chambre.Bain</td>
                        <td>@chambre.Douche</td>
                        <td>@chambre.NbLits</td>
                        <td>@chambre.Prix</td>
                        <td>@chambre.PrixTotal</td>
                        <td>
                            <a class="btn btn-lg"
                               asp-page="./Detail"
                               asp-route-chambreId="@chambre.Numero" asp-route-Prix="@chambre.Prix" asp-route-prixTotal="@chambre.PrixTotal" asp-route-nbnuit="@chambre.NbNuit">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                            <button type="submit" asp-route-numchambre="@chambre.Numero" asp-route-prix="@chambre.PrixTotal">
                                Book
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.Chambres.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Chambres.HasNextPage ? "disabled" : "";
        }

        <a
          
           asp-route-pageNumber="@(Model.Chambres.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.Chambres.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </form>
</body>

